@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: white;
    font-family: tahoma, arial, Microsoft YaHei, sans-serif;
    font-size: 12px;
}


  
:root {
    --duration: 3s;
}